<!--================Home Banner Area =================-->
<section class="home_banner_area">
  <div class="banner_inner d-flex align-items-center">
    <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
         data-background=""></div>
    <div class="container">
      <div class="banner_content text-center">
        <h3>Trung tâm dạy lập trình<br/>dành cho mọi lứa tuổi</h3>
        <p>Chúng tôi hy vọng sẽ trở thành chìa khoá để tất cả mọi người đều có cơ hội nắm bắt lấy
          thành công cho riêng mình.</p>
        <a class="main_btn" href="programs">Bắt đầu</a>
      </div>
    </div>
  </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Finance Area =================-->
<section class="finance_area">
  <div class="container">
    <div class="finance_inner row">
      <div class="col-lg-3 col-sm-6">
        <div class="finance_item">
          <div class="media">
            <div class="d-flex">
              <i class="lnr lnr-rocket"></i>
            </div>
            <div class="media-body">
              <h5>Cập nhật<br/>liên tục</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="finance_item">
          <div class="media">
            <div class="d-flex">
              <i class="lnr lnr-earth"></i>
            </div>
            <div class="media-body">
              <h5>Trang thiết bị<br/>hiện đại</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="finance_item">
          <div class="media">
            <div class="d-flex">
              <i class="lnr lnr-smile"></i>
            </div>
            <div class="media-body">
              <h5>Môi trường<br/>thân thiện</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="finance_item">
          <div class="media">
            <div class="d-flex">
              <i class="lnr lnr-laptop-phone"></i>
            </div>
            <div class="media-body">
              <h5>Tầm cỡ<br/>thế giới</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Finance Area =================-->
        
