<!--================Courses Area =================-->
<section class="courses_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>Popular Courses</h2>
      <!--      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first-->
      <!--        telescope. It’s exciting to think about setting up your own viewing station.</p>-->
    </div>

    <div class="row courses_inner col-sm-12 col-md-6 col-lg-4 col-xl-3"
         style="display: inline-block"
         *ngFor="let courseModel of coursesList; index as i">
      <div class="card"
           style="width:500px; height: 500px;margin-left: 3px;margin-right: 3px;margin-bottom:30px">
        <div class="course_item" style="width: 100%">

          <ng-container
            *ngIf="courseModel.Image!=null; then imgNotNull; else imgNull">
          </ng-container>
          <ng-template #imgNotNull>
            <img src="{{courseModel.Image}}" alt=""
                 style="object-fit: cover; width:500px; height: 500px">
          </ng-template>
          <ng-template #imgNull>
            <img src="../../assets/images/bualiem.png" alt=""
                 style="object-fit: cover; width:500px; height: 500px">
          </ng-template>

          <!--          <img src="{{programModel.Image}}" alt=""-->
          <!--               style="object-fit: cover; width: 30vh">-->
          <div class="hover_text">
            <!--            <a class="cat" href="courses/{{courseModel.Id}}">View Courses</a>-->
            <a style="text-shadow: 1px 1px #000000" href="course-detail/{{courseModel.Id}}">
              <h4>{{courseModel.Name}}</h4></a>
            <ul class="list" style="display: inline-block">
              <li><a href="#"><i class="lnr lnr-users"></i> 355</a></li>
              <li><a href="#"><i class="lnr lnr-bubble"></i> 35</a></li>
              <li><a href="#"><i class="lnr lnr-user"></i> T. Robert</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Courses Area =================-->
