<!--================Course Details Area =================-->
<section class="course_details_area p_120" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="main_title">
      <h2>Course Detail</h2>
      <!--      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first-->
      <!--        telescope. It’s exciting to think about setting up your own viewing station.</p>-->
    </div>
    <div class="row course_details_inner">
      <div class="col-lg-8">
        <div class="c_details_img img-block-here">-->
          <img class=" img-here" src="{{courseModel.Image}}" alt="">
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link active" id="ongoing-tab" data-toggle="tab" role="tab"-->
          <!--               aria-controls="ongoing"-->
          <!--               aria-selected="true" (click)="switchTab($event, 'ongoing')">Ongoing Courses</a>-->
          <!--          </li>-->
          <li class="nav-item">
            <a class="nav-link active" id="description-tab" data-toggle="tab" role="tab"
               aria-controls="description" aria-selected="false"
               (click)="switchTab($event, 'description')">Description</a>
          </li>
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link active" id="contact-tab" data-toggle="tab" role="tab"-->
          <!--               aria-controls="contact" aria-selected="false" (click)="switchTab($event, 'contact')">Course-->
          <!--              Outline</a>-->
          <!--          </li>-->
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link " id="comments-tab" data-toggle="tab" role="tab"-->
          <!--               aria-controls="comments" aria-selected="false"-->
          <!--               (click)="switchTab($event, 'comments')">Comments</a>-->
          <!--          </li>-->
        </ul>
        <div class="tab-content" id="myTabContent">
          <!--          <div class="tab-pane fade active show" id="ongoing" role="tabpanel"-->
          <!--               aria-labelledby="ongoing-tab">-->
          <!--            <div class="objctive_text">-->
          <!--              <div class="list-group">-->
          <!--                <a href="#" class="list-group-item">Type 1: Mon, Wed, Fri (17:30-20-30)</a>-->
          <!--                <a href="#" class="list-group-item">Type 2: Tue, Thu, Sat (18:00-21:00)</a>-->
          <!--                <a href="#" class="list-group-item">Type 3: Fri, Sat, Sun (15:00-18:00)</a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <div class="tab-pane fade active show" id="description" role="tabpanel"
               aria-labelledby="description-tab">
            <div class="objctive_text" [innerHTML]="courseModel.Description"></div>
          </div>
          <!--          <div class="tab-pane fade active" id="contact" role="tabpanel"-->
          <!--               aria-labelledby="contact-tab">-->
          <!--            <div class="objctive_text">-->
          <!--              <ul class="list">-->
          <!--                <li><a href="#">Introduction Lesson</a></li>-->
          <!--                <li><a href="#">Basics of HTML</a></li>-->
          <!--                <li><a href="#">Getting Know about HTML 5</a></li>-->
          <!--                <li><a href="#">Tags and Attributes</a></li>-->
          <!--                <li><a href="#">Basics of CSS</a></li>-->
          <!--                <li><a href="#">Getting Familiar with CSS 3</a></li>-->
          <!--                <li><a href="#">Introduction to Bootstrap 3.0</a></li>-->
          <!--                <li><a href="#">Responsive Design</a></li>-->
          <!--                <li><a href="#">Canvas in HTML 5</a></li>-->
          <!--              </ul>-->
          <!--            </div>-->
          <!--          </div>-->
          <!--          <div class="tab-pane fade show " id="comments" role="tabpanel"-->
          <!--               aria-labelledby="comments-tab">-->
          <!--            <div class="comments-area">-->
          <!--              <h4>05 Comments</h4>-->
          <!--              <div class="comment-list">-->
          <!--                <div class="single-comment justify-content-between d-flex">-->
          <!--                  <div class="user justify-content-between d-flex">-->
          <!--                    <div class="thumb">-->
          <!--                      <img src="img/blog/c1.jpg" alt="">-->
          <!--                    </div>-->
          <!--                    <div class="desc">-->
          <!--                      <h5><a href="#">Emilly Blunt</a></h5>-->
          <!--                      <p class="date">December 4, 2017 at 3:12 pm </p>-->
          <!--                      <p class="comment">-->
          <!--                        Never say goodbye till the end comes!-->
          <!--                      </p>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="reply-btn">-->
          <!--                    <a href="" class="btn-reply text-uppercase">reply</a>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="comment-list left-padding">-->
          <!--                <div class="single-comment justify-content-between d-flex">-->
          <!--                  <div class="user justify-content-between d-flex">-->
          <!--                    <div class="thumb">-->
          <!--                      <img src="img/blog/c2.jpg" alt="">-->
          <!--                    </div>-->
          <!--                    <div class="desc">-->
          <!--                      <h5><a href="#">Elsie Cunningham</a></h5>-->
          <!--                      <p class="date">December 4, 2017 at 3:12 pm </p>-->
          <!--                      <p class="comment">-->
          <!--                        Never say goodbye till the end comes!-->
          <!--                      </p>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="reply-btn">-->
          <!--                    <a href="" class="btn-reply text-uppercase">reply</a>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="comment-list">-->
          <!--                <div class="single-comment justify-content-between d-flex">-->
          <!--                  <div class="user justify-content-between d-flex">-->
          <!--                    <div class="thumb">-->
          <!--                      <img src="img/blog/c5.jpg" alt="">-->
          <!--                    </div>-->
          <!--                    <div class="desc">-->
          <!--                      <h5><a href="#">Ina Hayes</a></h5>-->
          <!--                      <p class="date">December 4, 2017 at 3:12 pm </p>-->
          <!--                      <p class="comment">-->
          <!--                        Never say goodbye till the end comes!-->
          <!--                      </p>-->
          <!--                    </div>-->
          <!--                  </div>-->
          <!--                  <div class="reply-btn">-->
          <!--                    <a href="" class="btn-reply text-uppercase">reply</a>-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--            <div class="comment-form">-->
          <!--              <h4>Leave a Reply</h4>-->
          <!--              <form>-->
          <!--                <div class="form-group form-inline">-->
          <!--                  <div class="form-group col-lg-6 col-md-6 name">-->
          <!--                    <input type="text" class="form-control" id="name" placeholder="Enter Name"-->
          <!--                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">-->
          <!--                  </div>-->
          <!--                  <div class="form-group col-lg-6 col-md-6 email">-->
          <!--                    <input type="email" class="form-control" id="email"-->
          <!--                           placeholder="Enter email address" onfocus="this.placeholder = ''"-->
          <!--                           onblur="this.placeholder = 'Enter email address'">-->
          <!--                  </div>-->
          <!--                </div>-->
          <!--                <div class="form-group">-->
          <!--                  <input type="text" class="form-control" id="subject" placeholder="Subject"-->
          <!--                         onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">-->
          <!--                </div>-->
          <!--                <div class="form-group">-->
          <!--                  <textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege"-->
          <!--                            onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'"-->
          <!--                            required=""></textarea>-->
          <!--                </div>-->
          <!--                <a href="#" class="primary-btn submit_btn">Post Comment</a>-->
          <!--              </form>-->
          <!--            </div>-->
          <!--          </div>-->
        </div>
      </div>
      <div class="col-lg-4">
        <div class="c_details_list">
          <ul class="list">
            <li><a>Program <span>{{courseModel.Program.Name}}</span></a></li>
            <li><a>Subject <span>{{courseModel.Subject.Name}}</span></a></li>
            <li><a>Course Fee <span>{{courseModel.Fee}}VND</span></a></li>
            <li><a>Total Session <span>{{courseModel.TotalSession}}</span></a></li>
          </ul>
          <ng-container *ngIf="formsList.length<1; then disableBtn;else elseBtn"></ng-container>
          <ng-template #disableBtn>
            <a class="disable_btn">This course is in closed status.</a>
          </ng-template>
          <ng-template #elseBtn>
            <a class="main_btn" (click)="displayEnroll($event)">Enroll the Course</a>
          </ng-template>

        </div>
        <div class="c_details_list fade" id="fromGroups">
          <div class="list-group" *ngFor="let formModel of formsList; index as i">
            <a href="enroll/{{formModel.Id}}" class="list-group-item">Type {{i + 1}}: <span
              *ngFor="let dayInWeek of formModel.Weeks">
              {{dayInWeek.DayOfWeek}}
            </span> ({{formModel.Slot.From}}-{{formModel.Slot.To}})</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Course Details Area =================-->
