<section class="course_details_area p_120">
  <div class="container">
    <div class="main_title">
      <h2>ResgisterStudent Form</h2>
      <!--      <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first-->
      <!--        telescope. It’s exciting to think about setting up your own viewing station.</p>-->
    </div>

    <form class="form-horizontal" (ngSubmit)="submitEnroll()">
      <div class="form-group">
        <label class="control-label col-sm-2" for="name">Name:</label>
        <div class="col-sm-10">
          <input class="form-control" id="name" placeholder="Enter student name"
                 name="name" [(ngModel)]="registerStudent.Name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Email:</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="email" placeholder="Enter email"
                 name="email"[(ngModel)]="registerStudent.Email">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="phone">Phone:</label>
        <div class="col-sm-10">
          <input class="form-control" id="phone" placeholder="Enter phone number"
                 name="phone"[(ngModel)]="registerStudent.Phone">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="dob">Date of Birth:</label>
        <div class="col-sm-10">
          <input class="form-control" id="dob" placeholder="Enter date of birth"
                 name="dob"[(ngModel)]="registerStudent.Dob">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="sex">Sex:</label>
        <div class="col-sm-10">
          <input class="form-control" id="sex" placeholder="Enter sex"
                 name="sex"[(ngModel)]="registerStudent.Sex">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Parent_Name">Parent Name:</label>
        <div class="col-sm-10">
          <input class="form-control" id="Parent_Name" placeholder="Enter parent name"
                 name="Parent_Name"[(ngModel)]="registerStudent.Parent_Name">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Parent_Gmail">Parent Email:</label>
        <div class="col-sm-10">
          <input class="form-control" id="Parent_Gmail" placeholder="Enter parent email"
                 name="Parent_Gmail"[(ngModel)]="registerStudent.Parent_Gmail">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="Parent_Phone">Parent Phone:</label>
        <div class="col-sm-10">
          <input class="form-control" id="Parent_Phone" placeholder="Enter parent phone number"
                 name="Parent_Phone"[(ngModel)]="registerStudent.Parent_Phone">
        </div>
      </div>
      <!--      <div class="form-group">-->
      <!--        <label class="control-label col-sm-2" for="pwd">Password:</label>-->
      <!--        <div class="col-sm-10">-->
      <!--          <input type="password" class="form-control" id="pwd" placeholder="Enter password"-->
      <!--                 name="pwd">-->
      <!--        </div>-->
      <!--      </div>-->
<!--      <div class="form-group">-->
<!--        <div class="col-sm-offset-2 col-sm-10">-->
<!--          <div class="checkbox">-->
<!--            <label><input type="checkbox" name="remember"> Remember me</label>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button (click)="submitEnroll()" type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>
</section>
